.dark-weather {
  font-weight: 600;
  border-bottom: #fff solid 3px;
  width: min-content;
  font-size: 40px;

}

.weatherpara {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin-top: 1vw;
  margin-bottom: 1vw;

}

.logo {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}









.home-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: min-content;

}


.search-here {
  line-height: 65px;
  font-weight: 200;
  width: min-content;
}

.search-here-wrapper {
  border-radius: var(--br-xs);
  background-color: #24343c;
  box-shadow: 10px 10px 30px rgba(36, 53, 60, 0.6) inset;
  width: min-content;

  padding: var(--padding-3xs) 46px var(--padding-3xs) var(--padding-11xl);
  margin-bottom: 100px;
}



.search-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;


}

.temp {
  /**/
  font-weight: 300;
}

.weather {
  /**/
  position: relative;
  line-height: 65px;
  white-space: pre-wrap;
}

.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xs);
}

.card-inner {

  border-radius: var(--br-xl);
  background-color: var(--color-darkslategray-100);
  box-shadow: 10px 9px 70px rgba(36, 53, 62, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.card {
  position: relative;
  width: 358px;
}










.home {
  position: relative;

  width: 100%;
  min-height: 100vh;

  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}

body {
  background-color: #1b262c;
}

.cityname {
  height: 52px;
  width: 143px;
}

.weather {
  height: 100px;
  width: 247px;
}

.wind {
  height: 100px;
  width: 247px;
}

.temperature {
  height: 90px;
  width: 320px;
}

.temp {
  height: 100px;
  width: 290px;
}




#latitude,
#longitude {
  background-color: #1B262C;
  border-style: none;
  color: white;
  height: 32px;
  width: 247px;
  text-align: center;
  font-weight: 700;
  border-bottom: 0.5px solid black;


}

#latitude:focus,
#longitude:focus {
  outline: none;
  border: 0.25px solid #fff;
}

#latitude:hover,
#longitude:hover {
  border-bottom: 0.2px solid #fff;
}

button {


  font-size: medium;
  background-color: #1B262C;
  border-color: #24343C;
  border-style: none;
  border-radius: 6px;
  padding: 11px;
  color: white;

}

button:hover {
  color: black;
  background-color: white;
}

#weather-image {
  height: 200px;
  transform: translate(100px, -50px);


  object-fit: cover;
}